.git/
.idea/
.gradle/
build/
*.iml
*.log
*/build/
*/.idea/
actions-csv/
actions-db/
actions-db-hibernate/
actions-xlsx/
builder/
builder-eo/
builder-sandboxes/
builder-projects/
project-misc/
project-model/
project-web/
project-elasticobjects/
project-springboot/
projects-misc/
