$[(TemplateResourceCall). configKey="HeaderStatic.html"/]
<header class="entry-header">
    <div id="rootNav">
        <ul>
            $[(TemplateCall). sourcePath="/data/*" ]
            <li><a href="$[(StringReplaceWhiteSpaceCall)head targetPath="asString" /].html">$[head]</a></li>
            $[/]
        </ul>
    </div>
</header>
    <div class="entry-content" id="entry-content">
        <h3>$[head]</h3>
        <p>$[(StringReplaceWithHtmlCall)content targetPath="asString" /]</p>
     </div>
    <div class="entry-content" id="entry-content" style="font-color:#1f65d7ff;font-size:0.7rem;margin-top:20px">
        <h5>Elements for Generating FAQ Pages</h5>
        <table>
            <tr><td>Page-Template:</td><td>$[(ConfigLinkCall)Faq.html configType="FileConfig" /]</td></tr>
            <tr><td>Header:</td><td>$[(ConfigLinkCall)PresentationHeader.html configType="FileConfig" /]</td></tr>
            <tr><td>Content:</td><td> $[(ConfigLinkCall)content.xlsx:faq configType="FileConfig"/]</td></tr>
            <tr><td>Footer:</td><td>$[(ConfigLinkCall)PresentationFooter.html configType="FileConfig" /]</td></tr>
        </table>
    </div>
$[(TemplateResourceCall). configKey="FooterStatic.html"/]
