 #{TemplateResourceCall->PresentationHeader.html}.
<header class="entry-header">
    <div id="rootNav">
        <ul>
             @{"(TemplateCall).":{
            "sourcePath":"/data/*"
            }
            }.
            <li><a href=" #{StringReplaceWhiteSpaceCall->head}. .html">.{head}. </a></li>
            .{}.
        </ul>
    </div>
</header>
    <div class="entry-content" id="entry-content">
        <h3>.{head}.</h3>
        <p>.{content}.</p>
     </div>
 #{TemplateResourceCall->PresentationFooter.html}.
